

*{
  margin: 0px;
}

p {
  font: 22pt sans-serif;
  margin: 20px 20px 0px 20px;
}

/**
* Styles for the puzzle
*/

.container{
  background: linear-gradient(rgba(255, 255, 255, 0.4),rgba(255, 255, 255, 0.4)), url("portadaDerecha.jpg");
  height: 800px;
  align-items: center;
  text-align: center;
  padding: 2% 2% 2% 2%;
}

.tituloJuego{
  background-color: white;
  margin: 0% 20% 1% 20%;
  border-radius: 20px;
  border-style: solid;
  font-size: 50px;
}

.subtituloJuego{
  background-color: rgb(71, 94, 94);
  padding: 1%;
  border-radius: 20px;
  border-style:solid;
  border-color:white;
  color: white;
  margin: 0% 25% 0% 25%;
}

.botonVolver{
  justify-content: center;
  align-items: center;
	margin: 1% 0% 0% 0%;
	display: block;
	width: 300px;
	height: 50px;
	border-radius: 20px;
  border-style:solid;
  border-color:white;
	background-color: rgb(71, 94, 94);
	color: rgb(255, 255, 255);
	transition: background-color 0.3s;
	font-size: 25px;
	cursor: pointer;
	text-shadow: none;
	-webkit-text-stroke-width: 0px;
}

.botonVolver:hover{
	background-color: rgb(31, 28, 28);
}

.botonVolver p{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#juego {
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  float: left;
  margin: 0px 20px;
  margin-left: 32%;
}

#juego div {
  width: 100%;
  margin: 0 auto;
}

/* style for each square in the puzzle */
#juego .puzzleSquare {
  height: 40px;
  width: 40px;
  text-transform: uppercase;
  background-color: white;
  border: 0;
  font: 1.5em sans-serif;
}

button::-moz-focus-inner {
  border: 0;
}

/* indicates when a square has been selected */
#juego .selected {
  background-color: orange;
}

/* indicates that the square is part of a word that has been found */ 
#juego .found {
  background-color: blue;
  color: white;
}

#juego .solved {
  background-color: purple;
  color: white;
}

/* indicates that all words have been found */
#juego .complete {
  background-color: green;
}

/**
* Styles for the word list
*/
#Palabras {
  margin-top: 100px;
  padding: 1% 1% 1% 1%;
  display: flex;
  flex-direction: row; 
  width: 230px;
  font-size: 25px;
  background-color: white;
  border-radius: 20px;
  border-style: solid;
  border-color: black;
}

#Palabras ul {
  list-style-type: none;
}

#Palabras li {
  padding: 0px 0;
  font: 1em sans-serif;
}

/* indicates that the word has been found */
#Palabras .wordFound {
  text-decoration: line-through;
  color: gray;
}

/**
* Styles for the button
*/
#solve {
  margin: 0 30px;
}
