.idea
/vendor/
.env
/node_modules/
/PDF/
/video/
/sounds/
/IMGUP/
*.log
*.bak
/PHP/config.php
PHP/conexionBe.php
PHP/config_email.php
/.idea/inspectionProfiles/Project_Default.xml

/PURISKIRI/

.htaccess
.user.ini
info.php
error_log
/images/
/tmp/

