.idea
/vendor/
.env
/node_modules/
/PDF/
/video/
/sounds/
/IMGUP/
*.log
*.bak
/PHP/config.php
PHP/conexionBe.php
/.idea/inspectionProfiles/Project_Default.xml

#/PURISKIRI/

.htaccess
error_log
images/
sounds/
video/
